<a href="https://colab.research.google.com/github/Farshid-997/Colab-Python_problem-Solve/blob/main/Assignment07_16301088_Farshid_Ahsan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1

In [ ]:
class Student:
      def __init__(self, name='Just a student', dept='nothing'):
         self.__name = name
         self.__department = dept
      def set_department(self, dept):
          self.__department = dept
      def get_name(self):
          return self.__name
      def set_name(self,name):
          self.__name = name
      def __str__(self):
          return 'Name: '+self.__name+' Department: '+self.__department
class BBA_Student(Student):
    def __init__(self,name='default',dept='BBA'):
     super().__init__(name,dept)  
print(BBA_Student())
print(BBA_Student('Humpty Dumpty'))
print(BBA_Student('Little Bo Peep'))

Name: default Department: BBA
Name: Humpty Dumpty Department: BBA
Name: Little Bo Peep Department: BBA

Task2

In [ ]:
class Vehicle:
    def __init__(self):
        self.x = 0
        self.y = 0
    def moveUp(self):
        self.y+=1
    def moveDown(self):
        self.y-=1
    def moveRight(self):
        self.x+=1
    def moveLeft(self):
       self.x-=1
    def __str__(self):
       return '('+str(self.x)+' , '+str(self.y)+')'
class Vehicle2010(Vehicle):
    def  moveLowerLeft(self):
        super().moveDown()
        super().moveLeft()
    def moveLeft(self):
        super().moveLeft()
    def equals(self,other):
        if self.x==other.x and self.y==other.y:
            return True
        else:
            return False

print('Part 1')
print('------')
car = Vehicle()
print(car)
car.moveUp()
print(car)
car.moveLeft()
print(car)
car.moveDown()
print(car)
car.moveRight()
print(car)
print('------')
print('Part 2')
print('------')
car1 = Vehicle2010()
print(car1)
car1.moveLowerLeft()
print(car1)
car2 = Vehicle2010()
car2.moveLeft()
print(car1.equals(car2))
car2.moveDown()
print(car1.equals(car2))

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True

Task3

In [ ]:
class Tournament:
    def __init__(self,name='Default'):
        self.__name = name
    def set_name(self,name):
        self.__name = name
    def get_name(self):
        return self.__name
    
class Cricket_Tournament(Tournament):
    def __init__(self,name='Default',number_of_teams=0,Type='No Type'):
        
        super().__init__(name)
        self.number_of_teams=number_of_teams
        self.Type=Type
    def detail(self):
        return "Name:{} \n Number of Teams:{} \n Type:{}".format(super().get_name(),self.number_of_teams,self.Type)
class Tennis_Tournament(Cricket_Tournament):
    def __init__(self,name,number_of_teams):
        super().__init__(name,number_of_teams)
        self.number_of_teams=number_of_teams
       
    def detail(self):
        return "Name:{} \n Number of Teams:{} \n Type:{}".format(super().get_name(),self.number_of_teams,self.Type)
ct1 = Cricket_Tournament()
print(ct1.detail())
print("-----------------------")
ct2 = Cricket_Tournament("IPL",10,"t20")
print(ct2.detail())
print("-----------------------")
tt = Tennis_Tournament("Roland Garros",128)
print(tt.detail())

Name:Default
 Number of Teams:0
 Type:No Type
-----------------------
Name:IPL
 Number of Teams:10
 Type:t20
-----------------------
Name:Roland Garros
 Number of Teams:128
 Type:No Type

Task4

In [ ]:
class Product:
    def __init__(self,id, title, price):
        self.__id = id
        self. __title = title
        self. __price = price
    def get_id_title_price(self):
       return "ID: "+str(self.__id)+" Title:"+self.__title+"Price: "+str(self.__price)
class Book(Product):
    def __init__(self,id,title,price,ISBN,Publisher):
        super().__init__(id,title,price)
        self.ISBN=ISBN
        self.Publisher=Publisher
    def printDetail(self):
       return super().get_id_title_price()+ '\nISBN:'+str(self.ISBN)+' Publisher:'+str(self.Publisher)
class CD(Product):
     def __init__(self,id,title,price,Band,Duration,Genre):
        super().__init__(id,title,price)
        self.Band=Band
        self.Duration=Duration
        self.Genre=Genre
     def printDetail(self):
          return super().get_id_title_price()+ '\nBand:'+str(self.Band)+' Duration:'+str(self.Duration)+'minutes'+'\nGenre:'+str(self.Genre)
book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title:The AlchemistPrice: 500
ISBN:97806 Publisher:HarperCollins
-----------------------
ID: 2 Title:ShottoPrice: 300
Band:Warfaze Duration:50minutes
Genre:Hard Rock

Task5

In [ ]:
class Animal:
    def __init__(self,sound):
        self.__sound = sound
    def makeSound(self):
       return self.__sound

class Printer:
    def printSound(self, a):
        print(a.makeSound())
        
        
class Dog(Animal):
    def __init__(self,sound):
        super().__init__(sound)
class Cat(Animal):
    def __init__(self,sound):
        super().__init__(sound)
#write your code here
d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

Animal does not make sound
meow
bark

Task6

In [ ]:
class Shape:
    def __init__(self, name='Default', height=0, base=0):
        self.area = 0
        self.name = name
        self.height = height
        self.base = base
    def get_height_base(self):
        return "Height: "+str(self.height)+",Base: "+str(self.base)
#write your code here

class triangle(Shape):
    def __init__(self,name='Default',height=0,base=0):
        super().__init__(name,height,base)
    def printDetail(self):
       return "Shape name:"+ self.name+"\n"+super().get_height_base()+"\narea:"+str(self.area)
    def calcArea(self):
       self.area=1/2*(self.height*self.base)
class trapezoid(Shape):
    def __init__(self,name,height,base,side_a):
        super().__init__(name,height,base)
        self.side_a=side_a
    def printDetail(self):
        return "Shape name:"+ self.name + "\n"+super().get_height_base()+",side:"+str(self.side_a)+"\narea:"+str(self.area)
    def calcArea(self):
       self.area=1/2*(self.base+self.side_a)*10
tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape name:Default
Height: 0,Base: 0
area:0.0
--------------------------
Shape name:Triangle
Height: 10,Base: 5
area:25.0
---------------------------
Shape name:Trapezoid
Height: 10,Base: 6,side:4
area:50.0

Task7

In [ ]:
class Football:
    def __init__(self, team_name, name, role):
        self.__team = team_name
        self.__name = name
        self.role = role
        self.earning_per_match = 0
    def get_name_team(self):
        return 'Name: '+self.__name+', Team Name: ' +self.__team
class Player(Football):
    def __init__(self,team_name,name,role,total_goal,total_played):
        super().__init__(team_name,name,role)
        self.total_played=total_played
        self.goal=total_goal
    def calculate_ratio(self):
         self.earning=(self.goal*1000)+(self.total_played*10)
         self.goal_ratio=(self.goal/self.total_played)
    def print_details(self):
        print(super().get_name_team()+"\nTeam role:"+str(self.role)+"\nTotal goal:"+str(self.goal)+",Total played:"+str(self.total_played)+"\nGoal ratio:"+str(self.goal_ratio)+"\nMatch earning:"+str(self.earning)+"K")
class Manager(Football):
    def __init__(self,team_name, name, role,total_win):
        super().__init__(team_name, name, role)
        self.total_win=total_win
    def print_details(self):
       self.manager=self.total_win*1000  
       print(super().get_name_team()+"\nTeam role:"+str(self.role)+"\nTotal win:"+str(self.total_win)+"\nMatch earning:"+str(self.manager)+"K")

player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus
Team role:Striker
Total goal:25,Total played:32
Goal ratio:0.78125
Match earning:25320K
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team role:Manager
Total win:25
Match earning:25000K