<a href="https://colab.research.google.com/github/Farshid-997/Colab-Python_problem-Solve/blob/main/Assignment01_16301088_Farshid_Ahsan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String_task1

In [ ]:
a=input("enter a string \n")

upper=0

lower=0

for i in range(len(a)):
    
    if ord(a[i])>=97 and ord(a[i])<=122:
           lower=+1
    elif ord(a[i])>=65 and ord(a[i])<=90:
           upper=+1
       
if upper>lower:
    print (a.upper())

else:
    print (a.lower())

enter a string
HOusE
house

String_Task2

In [ ]:
a=input("enter a string \n")
num_check=False
letter_check=False
for x in a:
    if x in '0123456789' :
       num_check=True
    if x in 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z':
        letter_check=True
if (num_check and letter_check)==True:
     print("MIXED")
elif num_check==True:
     print("NUMBER")
else:
    print("WORD")

String_task3

In [ ]:
a=str(input("INSERT A STRING \n"))
str=""
for i in a:
    if ord(i)<=90:
        for i in range(a.find(i)+1,len(a)):
            if ord(a[i])<=90:
                break
            else:
                 str+=a[i]
        break
if str=="":
    print("BLANK")
else:
    print(str)

String_task4

In [ ]:
a=input("Enter a string \n")
b=a.index("too")
c=a.index("good")
if c>b:
    b=a.replace("too good","excellent")
    print(b)
    
else:
    print(a)

string_task5

In [ ]:
a,b=map(str, input().split(","))

new_str=""

for x in a:
   if x in b:
      new_str+=x
for x in b:
   if x in a:
    new_str+=x
if new_str=="":
   print("Nothing in common.")
else:
   print(new_str)

string_task6

In [ ]:
a=str(input("Enter a password \n"))
lower_letter=False
upper_letter=False
digit=False
special_char=False
for i in a:
    if i in 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z':
        lower_letter=True
    if i in 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z':
        upper_letter=True
    if i in '0123456789':
        digit=True
    if i in '@,#,_,$':
        special_char=True
err=[]
if lower_letter==False:
    print("lower case missing")
    
elif digit==False:
    print("Digit missing")
    err.append("Digit missing")
elif upper_letter==False:
    print("upper case letter missing")
    err.append("Uppercase character missing")
elif special_char==False:
    print("special Character missing")
    err.append("Special character missing")
elif  (digit and upper_letter and special_char and lower_letter)==True:
    print("ok")
    print(err)
else:
    print(err)

List task1

In [ ]:
list=[]
while True:
   string=input()
   if string=='STOP':
       break
   list.append(int(string))
list.sort()

for i in range(len(list)):
    counter=list.count(list[i])
    print(list[i],"-",counter, "times")

List_task3

In [ ]:
list1=list(map(int,input().split(" ")))
list2=list(map(int,input().split(" ")))
list3=[]
    
for i in list1:
   for j in list2:
      list3.append(i*j)
print(list3)

List_task4

In [ ]:
while True:
    string=input()
    if string=='STOP':
       break
    a=list(map(int,string.split(" ")))
    # 
    count=0
    for i in range(0,len(a)-1):
        diff=abs(a[i+1]-a[i])
        if not(diff>=1 and diff<=(len(a)-1)):
           count=count+1
    if count:
        print("Not UB Jumper")
    else:
        print("UB Jumper")
    if a=='STOP':
        break

1 4 2 3
UB Jumper
2 1 4 6 10
UB Jumper
1 4 2 -1 6
Not UB Jumper

List_task5

In [ ]:
st=input()
up=[]
low=[]

odd=[]
even=[]
for i in st:
    if i in 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z':
         low.append(i)
    elif i in 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z':
         up.append(i)
    elif i in '0123456789':
        i=int(i)
        if i%2==1:
            odd.append(i)
        else:
            even.append(i)
emt_str=""
for x in [low,up,odd,even]:
    x.sort()
    for a in x:
        a=str(a)
        emt_str+=a
print(emt_str)

List_Task6

In [ ]:
n,m=map(int,input().split())
a=list(map(int,input().split()))

count=0

for i in a:
    if 5-i>=m:
        count=count+1
c1=count//3
print(c1)

Dictionary_task1

In [ ]:
d1={}
d2={}

data=input().split(",")

data1=input().split(",")

for i in range(len(data)):
    t1=data[i].split(":")
    d1[t1[0]]=int(t1[1])

for i in range(len(data1)):
    t1=data1[i].split(":")
    d2[t1[0]]=int(t1[1])

for i in d1:
    if i in d2:
        d1[i]=d1[i]+d2.get(i)
    else:
        pass
for i in d2:
    if i in d1:
        pass
    else:
        d1[i]=d2.get(i)
print(d1)

new_tup=()

for i in sorted(d1.values()):
    if i in new_tup:
        pass
    else:
        new_tup=new_tup+(i,)
print(new_tup)

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 300, ' b': 200, ' d': 400, ' e': 200}
(200, 300, 400)

Dictionary_task2

In [ ]:
d={}

while True:
    a=input()
    if a=='STOP':
      break
    a=int(a)
    if a in d:
        d[a]+=1
    else:
        d[a]=1
for x,n in d.items():
    print(x,"-",n,"times")

Dictionary_task3

In [ ]:
d={}
a=input().split(",")

for i in a:
    i=i.split(":")
    if i[1] not in d:
        d[i[1]]=[i[0]]
    else:
        d[i[1]].append(i[0])
print(d)

Dictionar_Task4

In [ ]:
a=input()
b=input()
d1={}
d2={}
for i in a:
    if i not in d1:
         d1[i]=1 #if they are not in dictionary then we set the occurance 1 
    else:
        d1[i]+=1
for i in b:
    if i not in d2:
         d2[i]=1
    else:
        d2[i]+=1
if d1==d2:
    print("Those strings are anagrams.")
else:
    print("Those strings are not anagrams.")
print(d1)

Dictionary_task5

In [ ]:
d={1:['.',',','?','!',':'],2:['A','B','C'],3:['D','E','F'],4:['G','H','I'],5:['J','K','L'],6:['M','N','O'],7:['P','Q','R','S'],
   8:['T','U','V'],9:['W','X','Y','Z'],0:[" "]}

a=input()
number=""
for i in a:
    i.upper()
    for key,value in d.items():
        if i.upper() in value:
            number+=str(key)*(value.index(i.upper())+1)
print(number)